body {
  background-color: #eee;

  font-weight: 400;
  font-style: normal;

  user-select: none;
}

#main-container {
  position: absolute;
}

#main-canvas {
  border: 1px solid black;
  background-color: rgba(54, 43, 81); /* TODO: gradient or move to drawFrame? */
}

#debug-container {
  position: absolute;
  top: 510px;
}

#header {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

#header > div {
  display: inline-block;
  padding-right: 24px;
}

#comms-button {
  position: absolute;
  width: 50px;
  top: 10px;
  right: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

#comms-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#comms-list {
  position: absolute;
  top: 60px;
  right: 10px;
  /* fill from JS and there wont be a need for these */
  width: 100px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
}
